* {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(216, 12%, 8%);
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
}

.rating-card {
  height: 25.5rem;
  width: 24rem;
  border-radius: 1.8rem;
  background-color: hsl(213, 19%, 18%);
  color: white;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 2.1rem 1.7rem 2rem 1.7rem;
}

.first-comp {
  padding: 1rem 0;
  height: 3rem;
  width: 3rem;
  backdrop-filter: blur(10px);
  backdrop-filter: invert(7%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  font-family: "Overpass", sans-serif;
  color: rgba(240, 248, 255, 0.518);
  font-size: 15px;
  line-height: 1.4rem;
}

h1 {
  font-family: "Overpass", sans-serif;
  font-weight: lighter;
}

.second-comp {
  margin-top: 2rem;
}

.third-comp {
  margin: 0.8rem 0 1.5rem 0;
}

.fourth-comp {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: -0.4rem;
}

h2 {
  height: 3.2rem;
  width: 3.2rem;
  background-color: rgba(240, 248, 255, 0.082);
  border-radius: 50%;
  backdrop-filter: blur(85px);
  display: grid;
  place-items: center;
  color: hsl(217, 12%, 63%);
  font-family: "Overpass", sans-serif;
  font-size: 17px;
  font-weight: 500;
}

h2:hover {
  background-color: hsl(216, 12%, 54%);
  color: white;
  cursor: pointer;
  font-weight: 600;
}

.fifth-comp {
  margin-top: 1.8rem;
  width: 100%;
  height: auto;
  text-align: center;
}

button {
  height: 2.6rem;
  width: 95%;
  border-radius: 1.5rem;
  font-size: 0.9rem;
  letter-spacing: 3px;
  font-family: "Overpass", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  background-color: hsl(25, 97%, 53%);
  border: none;
  color: hsl(0, 0%, 100%);
}

button:hover{

    cursor: pointer;
}

.one {
    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h4 {
    font-weight:lighter;
    font-size: 15px;
    letter-spacing: 1.2px;
    backdrop-filter: blur(10px);
    backdrop-filter: invert(7%);
  }
  
  .two {
    margin: 1.5rem 0 2rem 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #dhamal {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.1rem;
    width: 14rem;
    border-radius: 1rem;
    font-family: "Overpass", sans-serif;
    color: hsl(25, 97%, 53%);
  }
  
  .three {
    margin-bottom: 0.7rem;
    text-align: center;
  }
  .four {
    line-height: 1.4rem;
    padding: 0 0.2rem;
    text-align: center;
    font-family: "Overpass", sans-serif;
    color: rgba(245, 249, 252, 0.518);
    font-size: 13px;
    letter-spacing: 0.5px;
  }

  @media (max-width:400px){

    .rating-card {
        height: 26rem;
        width: 18rem;
        border-radius: 1.4rem;
        background-color: hsl(213, 19%, 18%);
        color: white;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 2.1rem 1.7rem 2rem 1.7rem;
      }

  }
